html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $text-color;
  font-family: $main-font;
  font-size: $font-size-basic;
  background: $main-color;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
    background: $background-image-header;
    @include background-image;
    text-align: center;
}
.main {
    flex: 1 1 auto;
}
.footer {
    background: #77608d;//delete after end
    text-align: center;
}
.container {
    width: 100%;
    max-width: 1200px;
    background-color: rgba($color: darksalmon, $alpha: .7);//delete after end
    margin: 0 auto;
}
section {
    padding: 100px 15px;
}