.hero {
    text-align: left;
    color: $text-color;

    &__title {
        margin: 0;
        font-family: $header-font;
        font-size: $font-size-h1;
    }
    &__subtitle {
        padding: 35px 0;
        font-size: $font-size-subtitle;
        font-weight: bold;
        line-height: 1.5;
    }
    &__button {
        background-color: $marking-text-color;
    }
}

@media (min-width: $tab-width) {
    .hero {
        display: grid;
        padding-left: 40px;
        padding-right: 40px;
        grid-template-columns: .63fr;
        
        &__title {
            font-size: $font-size-h1-tab;
        }
    }
}

@media (min-width: $small-desktop-width) {
    .hero {     
        padding: 170px 40px 190px;   

        &__title {
            font-size: $font-size-h1-desktop;
        }
    }
}