.popular {
    background: $background-image-popularGames;
    @include background-image;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .category {
        margin: 0 15px;

        &__title {
            position: relative;
            text-align: left;
            padding-left: 30px;
            padding-bottom: 20px;
            font-size: $font-size-h4;
            font-weight: 800;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 22px;
                height: 3px;
                background-color: $text-color;
            }
        }

        &__game-list {
            margin-top: 20px;
        }
        .game {
            padding: 7.5px 0px 15px;

            &__image {
                display: table-cell;
            }
            &__card {
                display: table-cell;
                vertical-align: top;
                padding: 0px 15px;
            }
            &__title {
                display: flex;
                align-items: center;

                span:first-child {
                    font-size: $font-size-h4;
                    line-height: 1.4;
                    font-weight: 800;
                }
                span:last-child {
                    color: $marking-text-color-2;
                    font-size: $font-size-h4;
                    line-height: 1.4;
                    font-weight: 800;
                }
                .line {
                    flex-grow: 1;
                    border-bottom: 1px solid rgba($color: #213263, $alpha: .2);
                    margin: 5px;
                }
            }
            &__description {
                color: $text-color;
                opacity: .75;
                font-size: $font-size-text;
                line-height: 1.4;
                font-weight: 400;
            }
        }
    }
    .category:first-child {
        .category__title {
            &::before {
                content: url(../img/gamepad.svg);
                position: absolute;
                top: 0;
                left: 0;
                color: $text-color;
                width: 20px;
                height: 24px;
            }
        }
    }
    .category:nth-child(2) {
        .category__title {
            &::before {
                content: url(../img/white-phone.svg);
                position: absolute;
                top: 0;
                left: 0;
                color: $text-color;
                width: 20px;
                height: 24px;
            }
        }
    }
    .category:nth-child(3) {
        .category__title {
            &::before {
                content: url(../img/nintendo.svg);
                position: absolute;
                top: 0;
                left: 0;
                color: $text-color;
                width: 20px;
                height: 24px;
            }
        }
    }
}
@media (min-width: $tab-width) {
    .popular {
        &__content {
            flex-direction: row;
        }
        .category {
            max-width: 383px;
        }
    }
}