.top-games {
    background: $background-image-topGames;
    @include background-image;
}

.slider {
    position: relative;

    @include game-card;

    .slider {
        &__arrow {
            width: 24px;
            height: 24px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            background-color: $text-color;
            opacity: .85;

            svg {
                width: 12px;
                height: 12px;
                fill: #213263;
            }

            &:hover {
                opacity: 1;
            }
        }

        &__dots {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            button {
                content: "";
                background: $text-color;
                opacity: .25;
                width: 10px;
                height: 10px;
                margin: 7.5px;
                border-radius: 50%;

                &:hover {
                    opacity: 1;
                }
            }

            &-active {
                opacity: .75 !important;
            }
        }
    }

    .arrow-right {
        right: -12px;
    }

    .arrow-left {
        -webkit-transform: translateY(-50%) scaleX(-1);
        transform: translateY(-50%) scaleX(-1);
        left: -12px;
    }
}

@media (min-width: $tab-width) {
    .top-games {
        &__slider {
            .game-card {
                display: grid;
                grid-template-columns: repeat(2, 1fr);

                &__image {
                    background-size: cover;
                    background-position: center;
                }
            }

            .slider {
                &__arrow {
                    width: 50px;
                    height: 50px;
                    background: none;
                    opacity: .75;

                    svg {
                        width: 30px;
                        height: 30px;
                        fill: $text-color;
                        opacity: inherit;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .arrow-right {
            right: -40px;
        }

        .arrow-left {
            left: -40px;
        }
    }
}